In [1]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
df_stroke = pd.read_csv("../data/train_strokes.csv")

In [3]:
for age in range(1, 19):
    print(f"{age}: ")
    print((len(df_stroke.loc[(df_stroke["smoking_status"] == "smokes") & (df_stroke["age"] == age), :]) / len(df_stroke.loc[df_stroke["age"] == age, :])) * 100)

1:
0.0
2:
0.0
3:
0.0
4:
0.0
5:
0.0
6:
0.0
7:
0.0
8:
0.0
9:
0.0
10:
0.3194888178913738
11:
0.30303030303030304
12:
0.7537688442211055
13:
0.9546539379474941
14:
1.3544018058690745
15:
2.433628318584071
16:
3.755868544600939
17:
6.526315789473684
18:
9.236947791164658

In [5]:
df_stroke.isnull().sum(axis=0)

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [23]:
(len(df_stroke.loc[(df_stroke["smoking_status"] == "smokes") & (df_stroke["age"] < 15), :]) / len(df_stroke.loc[df_stroke["age"] < 15, :])) * 100

0.24240465416936005

In [3]:
df_stroke_modified = df_stroke.copy()
df_stroke_modified.loc[(df_stroke["age"] < 15) & pd.isna(df_stroke["smoking_status"]), "smoking_status"] = "never smoked"

In [4]:
df_stroke_modified.isnull().sum(axis=0) / len(df_stroke_modified)

id                   0.000000
gender               0.000000
age                  0.000000
hypertension         0.000000
heart_disease        0.000000
ever_married         0.000000
work_type            0.000000
Residence_type       0.000000
avg_glucose_level    0.000000
bmi                  0.033687
smoking_status       0.179562
stroke               0.000000
dtype: float64

In [9]:
df_stroke.loc[df_stroke["age"] < 15, "work_type"].value_counts()

children         5898
Private           204
Never_worked       43
Self-employed      31
Govt_job           12
Name: work_type, dtype: int64

In [12]:
df_stroke.loc[(df_stroke["age"] < 18) & (df_stroke["age"] > 15), "work_type"].value_counts()

Private          690
children          67
Never_worked      58
Self-employed     46
Govt_job          40
Name: work_type, dtype: int64

In [16]:
for age in range(0, 19):
    print(age)
    print(df_stroke.loc[df_stroke["age"] == age, "work_type"].value_counts())

0
Series([], Name: work_type, dtype: int64)
1
children    34
Name: work_type, dtype: int64
2
children    479
Name: work_type, dtype: int64
3
children    402
Name: work_type, dtype: int64
4
children    356
Name: work_type, dtype: int64
5
children    533
Name: work_type, dtype: int64
6
children    246
Name: work_type, dtype: int64
7
children         354
Self-employed      1
Name: work_type, dtype: int64
8
children    435
Private       1
Name: work_type, dtype: int64
9
children    353
Name: work_type, dtype: int64
10
children    313
Name: work_type, dtype: int64
11
children    330
Name: work_type, dtype: int64
12
children    398
Name: work_type, dtype: int64
13
children         317
Private           71
Never_worked      14
Self-employed     14
Govt_job           3
Name: work_type, dtype: int64
14
children         257
Private          132
Never_worked      29
Self-employed     16
Govt_job           9
Name: work_type, dtype: int64
15
Private          212
children         191
Self-employed     22
Never_worked      18
Govt_job           9
Name: work_type, dtype: int64
16
Private          293
children          67
Never_worked      32
Self-employed     18
Govt_job          16
Name: work_type, dtype: int64
17
Private          397
Self-employed     28
Never_worked      26
Govt_job          24
Name: work_type, dtype: int64
18
Private          427
Govt_job          31
Never_worked      20
Self-employed     20
Name: work_type, dtype: int64

In [19]:
df_stroke_modified.loc[(df_stroke_modified["age"] < 19) & (df_stroke_modified["work_type"] == "Never_worked"), "work_type"] = "children"

In [21]:
for age in range(0, 19):
    print(age)
    print(df_stroke_modified.loc[df_stroke_modified["age"] == age, "work_type"].value_counts())

0
Series([], Name: work_type, dtype: int64)
1
children    34
Name: work_type, dtype: int64
2
children    479
Name: work_type, dtype: int64
3
children    402
Name: work_type, dtype: int64
4
children    356
Name: work_type, dtype: int64
5
children    533
Name: work_type, dtype: int64
6
children    246
Name: work_type, dtype: int64
7
children         354
Self-employed      1
Name: work_type, dtype: int64
8
children    435
Private       1
Name: work_type, dtype: int64
9
children    353
Name: work_type, dtype: int64
10
children    313
Name: work_type, dtype: int64
11
children    330
Name: work_type, dtype: int64
12
children    398
Name: work_type, dtype: int64
13
children         331
Private           71
Self-employed     14
Govt_job           3
Name: work_type, dtype: int64
14
children         286
Private          132
Self-employed     16
Govt_job           9
Name: work_type, dtype: int64
15
Private          212
children         209
Self-employed     22
Govt_job           9
Name: work_type, dtype: int64
16
Private          293
children          99
Self-employed     18
Govt_job          16
Name: work_type, dtype: int64
17
Private          397
Self-employed     28
children          26
Govt_job          24
Name: work_type, dtype: int64
18
Private          427
Govt_job          31
children          20
Self-employed     20
Name: work_type, dtype: int64

In [32]:
df_stroke.loc[df_stroke["gender"] == "Other", :]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2914,56156,Other,26.0,0,0,No,Private,Rural,143.33,22.4,formerly smoked,0
10768,26188,Other,46.0,0,0,No,Private,Rural,83.28,NaN,never smoked,0
15620,52984,Other,27.0,0,0,No,Private,Urban,62.45,NaN,smokes,0
15838,24893,Other,53.0,0,0,Yes,Private,Rural,89.65,NaN,NaN,0
19748,13471,Other,39.0,0,0,Yes,Govt_job,Urban,95.59,32.0,formerly smoked,0
21041,31015,Other,19.0,0,0,No,Private,Rural,75.76,32.2,formerly smoked,0
21192,27043,Other,49.0,0,0,Yes,Private,Urban,94.88,37.2,never smoked,0
24252,51111,Other,51.0,0,0,Yes,Private,Rural,91.75,32.2,formerly smoked,0
26199,42452,Other,10.0,0,0,No,children,Rural,72.05,21.2,formerly smoked,0
26831,49812,Other,53.0,0,0,Yes,Govt_job,Urban,65.29,NaN,NaN,0
40768,14986,Other,11.0,0,0,No,children,Urban,101.30,18.1,formerly smoked,0

In [29]:
df_stroke_modified = df_stroke_modified.loc[df_stroke_modified["gender"] != "Other", :]

In [35]:
df_stroke_modified["gender"].value_counts()

Female    25665
Male      17724
Name: gender, dtype: int64

In [36]:
df_stroke_modified.to_csv("stroke_data_cleanedJB.csv", index=False)

In [34]:
df_stroke[df_stroke["id"].duplicated()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []