In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import collections
import math
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import collections
import imblearn.under_sampling
from collections import Counter
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

from keras.models import Sequential
from keras.layers import Activation, Dense, Conv1D
from keras import losses
from tensorflow.keras import optimizers
import tensorflow as tf

import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('stroke_data_cleanedJB.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,never smoked,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,never smoked,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,children,Rural,161.28,19.1,never smoked,0

In [4]:
data = df

df['smoking_status'] = df['smoking_status'].astype(str)

df['gender']=pd.get_dummies(df['gender'])
df['ever_married']=pd.get_dummies(df['ever_married'])
df['work_type']=pd.get_dummies(df['work_type'])
df['Residence_type']=pd.get_dummies(df['Residence_type'])


le = preprocessing.LabelEncoder()

df['smoking_status']=le.fit_transform(df['smoking_status'])


df = df.iloc[1:]

imp = KNNImputer(n_neighbors=2)
df = imp.fit_transform(df)



df = pd.DataFrame(df)

df.head()

        0    1     2    3    4    5    6    7       8     9    10   11
0  30468.0  0.0  58.0  1.0  0.0  0.0  0.0  0.0   87.96  39.2  2.0  0.0
1  16523.0  1.0   8.0  0.0  0.0  1.0  0.0  0.0  110.89  17.6  2.0  0.0
2  56543.0  1.0  70.0  0.0  0.0  0.0  0.0  1.0   69.04  35.9  0.0  0.0
3  46136.0  0.0  14.0  0.0  0.0  1.0  0.0  1.0  161.28  19.1  2.0  0.0
4  32257.0  1.0  47.0  0.0  0.0  0.0  0.0  0.0  210.95  50.1  1.0  0.0

In [5]:
X = df.iloc[:, 1:11]
y = df.iloc[:,-1]

In [6]:
#Split data before oversampling on the train only

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
y_train.shape

(34710,)

In [7]:
rus = RandomOverSampler(random_state=42)
X_train, y_train = rus.fit_resample(X_train, y_train)
print('Ratio of class 1 over the number of class is',y_train.sum()/y_train.shape[0])

Ratio of class 1 over the number of class is 0.5

In [11]:
train_imputed = pd.concat([X_train, y_train], axis=1)
train_imputed.shape

(68196, 11)

In [12]:
test_imputed = pd.concat([X_test, y_test], axis=1)
test_imputed.shape

(8678, 11)

In [13]:
data['smoking_status'] = data['smoking_status'].astype(str)

data['gender']=pd.get_dummies(data['gender'])
data['ever_married']=pd.get_dummies(data['ever_married'])
data['work_type']=pd.get_dummies(data['work_type'])
data['Residence_type']=pd.get_dummies(data['Residence_type'])


le = preprocessing.LabelEncoder()

data['smoking_status']=le.fit_transform(data['smoking_status'])


data = data.iloc[1:]

data = pd.DataFrame(data)

data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,30468,1,58.0,1,0,1,1,1,87.96,39.2,2,0
2,16523,0,8.0,0,0,0,1,1,110.89,17.6,2,0
3,56543,0,70.0,0,0,1,1,0,69.04,35.9,0,0
4,46136,1,14.0,0,0,0,1,0,161.28,19.1,2,0
5,32257,0,47.0,0,0,1,1,1,210.95,50.1,1,0

In [14]:
X = data.iloc[:, 1:11]
y = data.iloc[:,-1]

In [15]:
#Split data before oversampling on the train only

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
y_train.shape

(34710,)

In [16]:
rus = RandomOverSampler(random_state=42)
X_train, y_train = rus.fit_resample(X_train, y_train)
print('Ratio of class 1 over the number of class is',y_train.sum()/y_train.shape[0])

train_not_imputed = pd.concat([X_train, y_train], axis=1)

Ratio of class 1 over the number of class is 0.5

In [17]:
train_imputed.to_csv('train_imputed.csv')
test_imputed.to_csv('test_imputed.csv')
train_not_imputed.to_csv('train_not_imputed.csv')